body {
    background-image: url('../assets/spacebg.jpg');
    background-attachment: fixed;
}

/* Sidebar Styles */
.sidebar {
    background-color: #00262e;
    color: #EEE;
}

#visual {
    position: relative;
}
.progressbar progress {
    width: 150px;
    margin-right: 14px;
    float: right;
    background-color: #08424d;
    border: solid 1px;
    border-color: #306276;
    height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.progressbar progress::-webkit-progress-bar {
    background-color: #08424d;
}
.progressbar progress::-webkit-progress-value {
    background: #a5c956;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
}
.progress_display {
    background-color: #0FF;
    height: 100px;
    margin-bottom: 20px;
}


/* Left Panel */
.panel_a {
    background-color: #0F0;
    min-height: 500px;
}
/* Right Panel */

.panel_b {
    background-color: #F00;
    min-height: 500px;
}

/* Header */
.position_updates {
    height: 250px;
}
svg#ship_planner {
    position: absolute;
    left: 0;
}