body {
    background-image: url('../assets/spacebg.jpg');
    background-attachment: fixed;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #EEE;
}

/* Visualization styles */

#viz_earth {
    position: absolute;
    left: 20px;
    margin: 7.5px 0;
}

#viz_iss {
    position: absolute;
    left: 150px;
    margin: 32.5px 0;
}

#viz_moon {
    position: absolute;
    left: 300px;
    margin: 27.5px 0;
}

#viz_mars {
    position: absolute;
    margin: 17.5px 0;
    right: 20px;
}
#progress-earth{
    position: absolute;
    height: 20px;
    width: 100%;
}

/* Captain's log and Newsfeed */

#caplog, #nfeed{
    padding-left: 0px;
    padding-top: 0;
    padding-right: 0px;
}

.log_date {
    color: #ff0;
    margin-right: 0.5em;
    font-weight: bold;
}

li.caplog, li.newsfeed{
    border-bottom: 1px solid #518bc9;
    min-height: 50px;
    list-style: none;
    display: block;
    padding-top: 5px;
    padding-left: 45px;
    padding-right: 0px;
    padding-bottom: 5px;
}

li.log_warning{
    background-image: url('../assets/warning.svg');
    background-size: 45px;
    background-attachment: 10 0;
    background-repeat: no-repeat;
}

li.log_plant{
    background-image: url('../assets/plantfood.svg');
    background-size: 45px;
    background-attachment: 10 0;
    background-repeat: no-repeat;
}

.log_info {

}



/* Sidebar Styles */
.sidebar {
    box-sizing: border-box;
    background-color: #00262e;
    color: #EEE;
    border: solid 1px #518bc9;
}
.status_title {
    font-size: 1em;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.25em;
    text-align: center;
    background-color: #053a4b;

    text-transform:uppercase;
}

#visual {
    position: relative;
}

.progressbar progress {
    width: 150px;
    margin-right: 14px;
    float: right;
    background-color: #08424d;
    border: solid 1px;
    border-color: #306276;
    height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.progressbar progress::-webkit-progress-bar {
    background-color: #08424d;
}

/* Default and Good progressbar color */
.progressbar progress::-webkit-progress-value, .progressbar progress.good::-webkit-progress-value {
    background: #a5c956;
    /*  TODO: add gradients **/
    /*  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956)); /* */
}

/* Warning progressbar color */
.progressbar progress.warning::-webkit-progress-value {
    background: #FF0;
}
/* Critical progressbar color */
.progressbar progress.critical::-webkit-progress-value {
    background: #F00;
}

.progress_display {
    background-color: #0FF;
    height: 100px;
    margin-bottom: 20px;
}

/* Panels */
.semi_transparent {
    background-color: rgba(73, 164, 168, 0.25);
    border: 1px solid #294666;
    box-sizing: border-box;
}

/* Left Panel */
.panel_a {
    min-height: 500px;
}

/* Right Panel */
.panel_b {
    min-height: 500px;
}

/* Header */
.position_updates {
    height: 250px;
}
svg#ship_planner {
    position: absolute;
    left: 0;
}
.progressbar progress {
transition: all 2s;
-webkit-transition: all 2s; /* Safari */
}
.crew_status {
    z-index: 150;
}